.homepage-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(147, 223, 204);
    background-size: cover;
    background-image: url("./../../images/typingduel.png");
}