.login-main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(147, 223, 204);
}

.login-form-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  height: 25%;
  width: 65%;
  margin-bottom: 25%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    font-size: 35px;
    height: 60px;
    width: 250px;
    background-color: rgb(125, 207, 125);
    color: rgb(15, 11, 11);
  }
}

.login-form-warning {
  display: inline-block;
  margin-top: 5%;
  margin-top: 3px;
}

.login-form-warning-alert {
  margin-bottom: 10px;
  height: 20px;
  line-height: 20px;
  padding: 0px 10px;
}
